<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- If False will also index PDFs and Mp3s -->
		<add key="IndexOnlyHTMLDocuments" value="true"/>
		<add key="ThreadsCount" value="3"/>
		<!-- Seconds to wait for a page to respond, before giving up -->
		<add key="RequestTimeout" value="3"/>
		<!-- Limit to the number of 'levels' of links to follow -->
		<add key="RecursionLimit" value="50"/>
		<!-- Request another page after waiting x seconds; use zero ONLY on your own/internal sites -->
		<add key="SpeedLimit" value="1"/>
		<!-- Whether to use stemming (English only) false/true -->
		<add key="StemmingModeEnabled" value="False"/>
		<!-- Whether to use stop words (English, German,Bulgarian), and if so, what mode [ Off | Short | List ] -->
		<add key="StoppingType" value="List"/>
		<!-- Number of characters to include in 'file summary' -->
		<add key="SummaryChars" value="500"/>
		<add key="UserAgent" value="Mozilla/6.0 (MSIE 6.0; Windows NT 5.1; MMarinov.NET; robot)"/>
		<add key="WorkingPath" value="D:\MMarinov_docs\Universitet\Thesis\_CrawlerWorkingFolder"/>
		<!--<add key="WorkingPath" value="C:\MMarinov\projects\_CrawlerWorkingFolder"/>-->
		<!-- Language to use when none is supplied (or supplied language is not available) -->
		<add key="DefaultLanguage" value="en-US"/>
		<!--URL with a zip archive with the top 1000000 websites from Alexa; leave it blank if you want to be indepentent.-->
		<!--<add key="SeedURLsSource" value="http://s3.amazonaws.com/alexa-static/top-1m.csv.zip"/>-->
		<add key="ConnectionString" value="Data Source=MMARINOV-PC;Initial Catalog=WebCrawler;Persist Security Info=True;User ID=MMarinov;Password=matrix"/>
		<add key="ConnectionStringActive" value="Data Source=MMARINOV-PC;Initial Catalog=WebCrawlerActive;Persist Security Info=True;User ID=MMarinov;Password=matrix"/>
	</appSettings>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="65000" />
		</connectionManagement>
		<defaultProxy enabled="false">
			<proxy/>
			<bypasslist/>
			<module/>
		</defaultProxy>
	</system.net>
</configuration>