/*GridViewCSS*/
.GridKeywords
{
    text-align: left;
    min-width: 300px;
    width: 100%;
    font-size: small;
    table-layout: auto;
    border-collapse: collapse;
    border: #1d1d1d 5px solid;
}

.PositionGrids
{
    position: absolute;
    left: 20%;
    right: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*RowStyles*/
.RowStyle td, .AltRowStyle td /*Common Styles*/
{
    padding: 2px;
}
.RowStyle td
{
    background-color: #DDDDDD;
}
.AltRowStyle td
{
    background-color: #f0f0f0;
}

.NoResults
{
    color: #333198;
    text-align: center;
    font-size: x-large;
}

.Keywords
{
    font-weight: bolder;
    font-size: 1.8em;
    left: 30px;
    text-align: left;
}

.Keywords a
{
    text-decoration: none;
}

.Keywords a:hover
{
    text-decoration: underline;
    color: #333198;
}

.TotalCount
{
    position: absolute;
    text-align: right;
    right: 15px;
    font-size: 0.8em;
    vertical-align: middle;
}

.PagerStyle
{
    background-image: url(../images/pagerBg.png);
    background-repeat: repeat-x;
}
.PagerStyle .command
{
    float: left;
    padding: 15px 5px 0px 15px;
}

.PagerStyle .PagerInfo
{
    font-size: 1.15em;
    float: right;
    color: #ffffff;
    padding: 10px 5px 0px 10px;
    vertical-align: super;
}


/*==============GridLinks================*/

.GridLinks
{
    text-align: left;
    margin: 5px 20px 5px 20px;
    border-collapse: collapse;
    border: #333198 3px solid; /*color from title*/
    table-layout: auto;
}

.LinkTitle
{
    font-weight: bolder;
    font-size: 1.45em;
    text-align: left;
    padding: 2px;
}

.LinkTitle a
{
    text-decoration: none;
}

.LinkDescription
{
    font-size: 1.15em;
    text-align: left;
    padding: 2px;
}

.LinkLink a
{
    color: #333198;
    font-size: small;
    text-align: left;
    padding: 2px;
    font-family: arial,sans-serif;
}

.PagerStyleLinks table
{
    text-align: center;
    margin: auto;
}

.PagerStyleLinks table td
{
    border: 0px;
    padding: 3px; /*padding around pager numbers */
}

.PagerStyleLinks td
{
    border-top: #333198 2px solid; /*top border of pager*/
    background: #000 url(../Images/childRow.jpg) repeat-x;
}

.PagerStyleLinks a
{
    color: #ffffff;
    text-decoration: none;
    padding: 2px 10px 2px 10px; /*border around pager numbers*/
    border-top: solid 1px #333333;
    border-right: solid 2px #333198;
    border-bottom: solid 2px #333198;
    border-left: solid 1px #777777;
}

.PagerStyleLinks span
{
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    padding: 2px 10px 2px 10px;
}

/*RowStyles*/
.RowStyleLinks td, .AltRowStyleLinks td /*Common Styles*/
{
    padding: 10px 3px 3px 3px;
    background-image: url(../images/childRow.png);
    background-repeat: repeat-x;
}
