<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALWebCrawlerActive.Properties.Settings.WebCrawlerActiveConnectionString"
            connectionString="Data Source=MMARINOV-PC;Initial Catalog=WebCrawlerActive;Persist Security Info=True;User ID=MMarinov"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>