<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALWebCrawler.Properties.Settings.WebCrawlerConnectionString"
            connectionString="Data Source=MMARINOV-PC;Initial Catalog=WebCrawler;Persist Security Info=True;User ID=MMarinov"
            providerName="System.Data.SqlClient" />
        <add name="DALWebCrawler.Properties.Settings.WebCrawlerConnectionString1"
            connectionString="Data Source=141.45.13.223;Initial Catalog=WebCrawler;Persist Security Info=True;User ID=MMarinov"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>