<?xml version="1.0"?>

<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions"
			type="System.Web.Configuration.SystemWebExtensionsSectionGroup, 
        System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, 
        PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting"
			  type="System.Web.Configuration.ScriptingSectionGroup, 
        System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, 
        PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler"
				  type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, 
            System.Web.Extensions, Version=1.0.61025.0, 
            Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				  requirePermission="false"
				  allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices"
					type="System.Web.Configuration.ScriptingWebServicesSectionGroup, 
            System.Web.Extensions, Version=1.0.61025.0, 
            Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization"
						type="System.Web.Configuration.ScriptingJsonSerializationSection, 
              System.Web.Extensions, Version=1.0.61025.0, 
              Culture=neutral, PublicKeyToken=31bf3856ad364e35"
						requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService"
						type="System.Web.Configuration.ScriptingProfileServiceSection, 
              System.Web.Extensions, Version=1.0.61025.0, 
              Culture=neutral, PublicKeyToken=31bf3856ad364e35"
						requirePermission="false"
						allowDefinition="MachineToApplication" />
					<section name="authenticationService"
						type="System.Web.Configuration.ScriptingAuthenticationServiceSection, 
              System.Web.Extensions, Version=1.0.61025.0, 
              Culture=neutral, PublicKeyToken=31bf3856ad364e35"
						requirePermission="false"
						allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="GoogleAPIKey" value="MMarinov"/>
		<add key="ErrorLogFile" value="Logs\Errors.log"/>
		<add key="ErrorLoggedTypes" value="All"/>
		<add key="ErrorLogRecordMode" value="Full"/>
	</appSettings>
	<connectionStrings/>
	<system.web>


		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		
		<authentication mode="Windows"/>
		
		<httpHandlers>
			<remove path="*.asmx" verb="*"/>
			<add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>


	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>

				<jsonSerialization maxJsonLength="5000000">
					<converters>
					</converters>
				</jsonSerialization>

			</webServices>

		</scripting>
	</system.web.extensions>
</configuration>
